<div class="contactform">

  <div class="card hoverable">

    <div class="card-image">
      <img src="{{ site.baseurl }}/img/contact-card-background.jpg">
      <span class="card-title">{{ page.description }}</span>
    </div>

    <form action="" class="contactform__form">
      <!-- <h4 class="contactform__title">{{ page.description }}</h4>
      <div class="headerLine"><div class="dot"></div></div> -->

      <div class="form">
        <div class="row">
        <div class="input-field col s12 l6">
          <input id="name" type="text" class="validate">
          <label for="name">Name</label>
        </div>

        <div class="input-field col s12 l6">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>

        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Message</label>
        </div>
      </div>
        <button type="button" name="button" class="waves-effect waves-light btn contactform__submit">Submit</button>
      </div>
    </form>

  </div>

</div>
