<h5>{{ include.wtitle | capitalize }}</h5>
<!-- <a class="twitter-timeline"
   href="https://twitter.com/GrncomSolutions"
   data-widget-id="680555129054072832"
   data-chrome="noheader nofooter noborders noscrollbar transparent"
   data-limit="2"
   data-aria-polite="assertive"
   height="214px">Tweets by @GrncomSolutions</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->
