<section class="hfooter">
  <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="foot-item col m6 l4">
            <h4>About</h4>
            <p>We believe that our clients and customers come first and we are committed to providing quality services and solutions to all our clients, our fully trained qualified and certified staff is trained and dedicated to ensure that all our client’s needs are met with excellence and satisfaction.</p>
          </div>
          <div class="foot-item col m6 l4">
            {% include widget/facebook.html %}
          </div>
          <div class="foot-item col m12 l4">
            {% include widget/twitter.html %}
          </div>
      </div>
      </div>
  </footer>
</section>
