<div class="deap">
  <h2 class="title">Services</h2>
  <div class="cpulse"></div>
  <div class="cpulse"></div>
  <div class="cpulse"></div>
</div>

<section class="services">
  <div class="container">
    <div class="container__flex">
      {% for service in site.data.services.services %}
      <a href="{{ site.baseurl }}/services/{{ service.link }}">
        <div class="services__item waves-effect container__flex waves-orange">
          <span class="services__icon">{{ service.icon }}</span>
          <span class="services__readmore"><h4>More Details on {{ service.title }}</h4></span>
          <div class="services__caption">
            <h5 class="truncate services__title">{{ service.title }}</h5>
            <p class="services__content">{{ service.infor | truncatewords: 21 }}</p>
            <a href="{{ site.baseurl }}/services/{{ service.link }}" class="services__link" role="button"></a>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>
