<section class="hservices">

    <div class="deap">
      <h2 class="title">Services</h2>
      <div class="cpulse"></div>
      <div class="cpulse"></div>
      <div class="cpulse"></div>
    </div>

  <div class="container">
    <div class="services">

      <div class="flex">
        {% for service in site.data.services.services %}

            <div class="service">
        	    <span class="icon">
                {{ service.icon }}
              </span>
        	    <div class="caption">
        	      <h5 class="truncate">{{ service.title }}</h5>
        	      <p>{{ service.infor | truncatewords: 21 }}</p>
        	      <a href="{{ site.baseurl }}/services/{{ service.link }}" class="" role="button">View Details &raquo;</a>
        	    </div>
            </div>

      	{% endfor %}
      </div>
  </div>
  </div>

</section>
