<section class="hservices">

    <div class="deap">
      <div class="arrow-down"></div>
      <h2 class="title">Our Services</h2>
      <div class="cpulse"></div>
    </div>

  <div class="container">
    <div class="arrow-down"></div>
    <div class="services">

      <div class="row">
        {% for service in site.data.services.services limit: 3 %}
      	  <div class="col s4">
      	    <div class="thumbnail">
      	      <!-- <img src="{{ site.baseurl }}/img/flatpc.png" alt="..."> -->
      	      <div class="caption">
      	        <h5>{{ service.title }}</h5>
      	        <p>{{ service.infor }}</p>
      	        <p><a href="#" class="btn btn-primary" role="button">Button</a>
      	      </div>
      	    </div>
      	  </div>
      	{% endfor %}
      </div>
  </div>
  </div>

</section>
