<section class="inforbar hide-on-small-only">
	<div class="container">
        <span class="inforbar__item">
            <a href="tel:14734183198" class="inforbar__item__text"><span class="inforbar__item__icon">{% include svg/phone.html %}</span>1 (473) 418-3198 </a>
            <span>|</span>
            <a href="mailto:grncom@Grncom.com" class="inforbar__item__text"><span class="inforbar__item__icon">{% include svg/mail.html %}</span>grncom@Grncom.com</a>
        </span>
        <span class="inforbar__item right">
            <a href="https://www.facebook.com/{{ site.facebook }}"><span class="inforbar__item__icon">{% include svg/facebook.html %}</span></a>
            <a href="https://plus.google.com/+{{ site.googlePlus }}"><span class="inforbar__item__icon">{% include svg/googleplus.html %}</span></a>
            <a href="https://twitter.com/{{ site.twitter }}"><span class="inforbar__item__icon">{% include svg/twitter.html %}</span></a>
        </span>
    </div>
</section>
