<section class="subbit">
	<div class="container">
		<div class="container__flex subbit__all">
			<div class="card subbit__item hoverable">
				<div class="subbit__icon turquoise">{% include svg/cloud.html %}</div>
				<p>Hardware Networking Solutions sales and support solution.</p>
			</div>

			<div class="card subbit__item hoverable">
				<div class="subbit__icon peter-river">{% include svg/web.html %}</div>
				<p>Web Design and Web Advertising services to our Customers</p>
			</div>

			<div class="card subbit__item hoverable">
				<div class="subbit__icon amethyst">{% include svg/forensic.html %}</div>
				<p>Computer Forensic Services provides training and support.</p>
			</div>

			<div class="card subbit__item hoverable">
				<div class="subbit__icon alizarin">{% include svg/cyber.html %}</div>
				<p>Cyber Security Services Solutions for Critical Infrastructure</p>
			</div>
		</div>
	</div>
</section>
