.deap {
  background-color: $accent;
  height: 300px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
  color: #fff;
  position: relative;
  overflow: hidden;

	.title {
		position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	}

  .arrow-down {
    border-top-color: #fff;
  }
}

.cpulse {
  background: #fff;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: cpulse 5s linear infinite
}


@keyframes cpulse {
  0% {opacity: 0; width: 0px; height: 0px}
  50% {opacity: 0.5;}
  100% {opacity: 0; width: 2000px; height: 2000px;}
}
