.deap {
  background-color: $accent;
  height: 500px;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
  color: #fff;
  position: relative;
  background: url('/img/ab.jpg') 50% 50% /cover;

	.title {
		position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
	}

  .arrow-down {
    border-top-color: #fff;
  }
}

.cpulse {
  border: solid 3px #fff;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  animation: cpulse 1s linear infinite;

  &:nth-child(2) {
    animation: cpulse 1.5s linear infinite;
  }

  &:nth-child(3) {
    border: solid 4px #fff;
    animation: cpulsec .5s linear infinite alternate;
  }
}



@keyframes cpulse {
  0% {opacity: 0; width: 0px; height: 0px}
  50% {opacity: 0.9;}
  100% {opacity: 0; width: 300px; height: 300px;}
}
@keyframes cpulsec {
  0% { width: 0px; height: 0px}
  100% { width: 100px; height: 100px;}
}
