nav {
  background: #fff;
  color: inherit;
  position: relative;
  a {
    color: inherit;
  }
  ul {
    a {
      color: inherit;
    }
    li {
      &:hover,
      &.active {
        background-color: $accent;
        color: #fff;
      }
    }
  }
}
