.hservices {
  .container {
    width: 90%;
  }
}

.services {
  margin: 100px 0;
}

.service {
  padding: 20px;
  width: 33.3%;
  text-align: center;
  //transition: all 0.5s ease-in-out;

  .icon {
    //float: left;
    //margin: 12px 10px 0 0;
  }

  h5 {
    &:after {
      content: '';
      border-top: solid 1px $accent;
      display: block;
      margin: 15px auto 0;
      width: 30%;
    }
  }

  svg {
    width: 100px;
    height: 100px;
    fill: $accent;
  }

  a {
    color: $accent;
  }

}

@media (max-width: $tablet) {
  .service {
    width: 50%;
  }
}

@media (max-width: $mobile) {
  .service {
    width: 100%;
    text-align: left;

    .icon {
      float: left;
      margin: 12px 10px 0 0;
    }

    svg {
      width: 24px;
      height: 24px;
    }

    h5 {
      &:after {
        margin: 15px 0 0
         0;
      }
    }


  }
}


.service_page {
  .deap {
    //transform: translateY(-12px);
  }
}

.nextPrev {
  background: $accent2;
  display: flex;

  .caption {
    color: #fff;
    padding: 20px;
  }

  .linkitem {
    width: 50%;
    display: block;
    transition: $animate;

    .icon svg {
      width: 100px;
      height: 100px;
      float: left;
      fill: #fff;
      padding: 20px;
      margin-top: 15px;
      transition: $animate;
    }

    &:nth-child(2) {
      text-align: right;

      .icon svg {
        float: right;
      }
    }

    &:hover {
      background-color: $accent;

      .icon svg {
        fill: $accent2;
      }
    }
  }

}

@media (max-width: $mobile) {
  .nextPrev {
    display: none;
  }
}
